<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <connectionStrings>
        <add name="QLResortDB" 
             connectionString="Data Source=.;Initial Catalog=QLR;Integrated Security=True;Max Pool Size=100;Min Pool Size=5;Connection Timeout=30;Pooling=true;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="CacheExpiryMinutes" value="30" />
        <add key="MaxRetryAttempts" value="3" />
        <add key="EnableLogging" value="true" />
    </appSettings>
</configuration>